<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home Page </title>
</head>
<body>

  <h1>{{ mensaje }}</h1>
  {% for elemento in productos%}
    {% if elemento == "elemento2" %}
    <h1> no quiero mostrar el elemento 2</h1>
    {% else %}
    <h1> {{elemento.nombre}}</h1>
    {% endif %}
  {% endfor %}
</body>
</html>

<style>

    .carousel-item img{
        height: 100vh;
    }

    .embellecedortexto{
        padding: 40px;
        font-size: 1.3rem;
        text-align: justify;
    }
</style>